{{ form(searchStudent) }}
<table border="1">
    <tr>
        <td>NSC</td>
        <td>Email</td>
        <td>Classe</td>
        <td>Action</td>
    </tr>
    {% for student in resultOfSearch %}
        <tr>
            <td>{{ student.nsc }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.classroom }}</td>
            <td><a href="{{ path('updateStudent',{'nsc':student.nsc}) }}">Update</a>
                <a href="{{ path('deleteStudent',{'nsc':student.nsc}) }}">Delete</a>
                <a href="{{ path('showStudent',{'nsc':student.nsc}) }}">Show</a></td>
        </tr>
    {% endfor %}
</table>

